@using CS234NEntityFramework.Models;
@model AppUser
@{
    ViewData["Title"] = "Home Page";
    AppConfig conf = ViewData["AppConfig"] as AppConfig;
    Dictionary<string, List<string>>? navData = ViewData["Nav"] as Dictionary<string, List<string>>;
}

<div class="container" id="header">
    <div class="row">
        <div class="col-md-9" id="banner">
            <img src="@conf.BreweryLogo" alt="@conf.BreweryName" style="width:100%;"/>
            <div class="centered h1">@conf.BreweryName</div>
        </div>
        <div class="col-md-3" id="login">
            <form method="post">

                    <label asp-for="Name" class="col-sm-3">Username</label><br />
                    <input asp-for="Name" class="col-sm-3" /><br />

                    <label asp-for="Password" class="col-sm-3">Password</label><br />
                    <input asp-for="Password" class="col-sm-3" /><br />

                    <button type = "submit" class ="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<hr />

<div class="row" id="body">
    <div class="col-md-2 border" id="navigation">
        <ul class="nav flex-column">
            @if(navData != null)
            {
                List<string> keys = navData.Keys.ToList();
                foreach(string k in keys)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="@k+head">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#@k" aria-expanded="true" aria-controls="collapseOne">
                                        @k
                                    </button>
                                </h5>
                            </div>

                            <div id="@k" class="collapse show" aria-labelledby="@k+head" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-inline">
                                        @foreach(string l in navData[k])
                                        {
                                            <li class="list-inline-item">
                                                <a class="nav-link" href="#">
                                                    <small>@l</small>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                }
            }
            else
            {
                <li>Please Log In</li>
            }
        </ul>
    </div>
    <div class="col-md-10 border" id="posts">
    </div>
</div>

<hr />

<div class="text-right" id="footer">

</div>
